* {
  box-sizing: border-box;
  margin: 0;
}
.main__wrapper img {
  position: relative;
  width: 100vw;
  height: 250px;
  margin: 0;
  background-image: url(/assets/[BD]KDT_main_521.png);
  background-size: 380px 250px;
  background-repeat: no-repeat;
}
.banner-mobile {
  position: absolute;
  top: 35%;
  left: 5%;
}
.banner-title {
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  background-color: #000000;
  border-radius: 4px;
  width: 74px;
  height: 22px;
  color: #48ff08;
}

.banner-desc {
  font-size: 18px;
  font-weight: 700;
}
.main-search {
  padding: 48px 0 16px;
}
.main-search__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-search__wrapper p {
  font-size: 25px;
}
.main-search-form {
  width: 90%;
}
.main-search-input {
  width: 100%;
  height: 53px;
  background-color: rgba(29, 192, 120, 0.12);
  border: 1px solid rgba(29, 192, 120, 0.24);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  padding: 14px 20px;
  border-radius: 28px;
}
.main-search-input:focus {
  background-color: #fff;
  border: 1px solid lightgray;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.main-search-input::placeholder {
  font-size: 15px;
  font-weight: 700;
  color: #28713c46;
}
.main-search-input:focus::placeholder {
  font-size: 15px;
  font-weight: 700;
  color: lightgray;
  font-weight: 400;
}

/*------------------------------------------------*/

@media screen and (min-width: 380px) {
  .main__wrapper img {
    width: 100vw;
    height: 300px;
    margin: 0;
    background-image: url(/assets/[BD]KDT_main_521.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 768px) {
  .main__wrapper img {
    width: 100vw;
    height: 300px;
    margin: 0;
    background-image: url(/assets/20240703_20595.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner-mobile {
    display: none;
  }
  .main-search-form {
    width: 50%;
  }
  .main-input-form:focus {
    background-color: #fff;
    border-color: lightgray;
    outline: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  }

  .main-search-input::placeholder {
    font-size: 15px;
    font-weight: 700;
    color: #28713c46;
  }
  .main-search-input:focus::placeholder {
    font-size: 15px;
    font-weight: 700;
    color: lightgray;
    font-weight: 400;
  }
}
