* {
  box-sizing: border-box;
  margin: 0;
}
.nav-desktop {
  display: none;
}
.nav-mobile {
  width: 100%;
  height: 50px;
  background-color: #fff;
  border-bottom: 1px solid #f1f3f5;
  box-shadow: 0px 2px 4px -2px #a9a9a9;
}

.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding-top: 8px;
  margin: 0 16px;
}
.logo {
  margin-left: 60px;
}
.logo img {
  display: block;
  width: 100px;
  height: 20px;
}
.button-login {
  width: 47px;
  height: 28px;
  font-size: 11px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  color: #363636;
}

.button-join {
  text-align: center;
  padding: 4px;
  width: 60px;
  height: 28px;
  font-size: 11px;
  border: none;
  border-radius: 4px;
  background-color: #ff7867;
  color: #fff;
}

/*------------------------------------------------*/

@media screen and (min-width: 768px) {
  .nav-mobile {
    display: none;
  }

  .nav-desktop .nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f1f3f5;
    box-shadow: 0px 2px 4px -2px #a9a9a9;
    margin: 0;
    padding: 10px 0;
    z-index: 10;
  }
  .desktop-nav {
    padding: 0 10px;
  }
  li::after {
    content: '';
    margin-right: 15px;
  }
  .nav-desktop {
    display: block;
  }
  .logo {
    margin-left: 30px;
  }
  .desktop-nav li {
    color: #4a4a4a;
    font-weight: 700;
  }

  .desktop-search {
    width: 50%;
  }
  .input-form input:focus {
    border-color: green;
    outline: none;
  }
  .input-form {
    display: flex;
    max-width: 100%;
  }
  .search-input {
    background-color: #f6f6f6;
    width: 100%;
    height: 40px;
    border: 0px;
    border-radius: 8px;
    padding: 5px 9px;
  }

  input::placeholder {
    font-size: 13px;
    color: #a9a9a9;
  }
  .desktop-right {
    display: flex;
    margin-right: 30px;
  }
  .desktop-login {
    width: 70px;
    height: 30px;
    font-size: 16px;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: #fff;
    color: #363636;
    margin-right: 10px;
  }

  .desktop-join {
    text-align: center;
    width: 80px;
    height: 30px;
    font-size: 16px;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: #ff7867;
    color: #fff;
  }
}
