a {
  text-decoration: none;
  color: inherit;
}
button,
input,
textarea {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}
button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}
ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}
p {
  font-size: 16px;
  line-height: 1.5;
  color: 2B292D;
  letter-spacing: -0.01em;
}

.fill-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 48px;
  border-radius: 2px;
  background-color: #3040c4;
  color: #fff;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: -0.05em;
  font-weight: 700;
  transition: opacity 300ms ease-in-out;
  border: none;
}

.fill-button.inverted {
  background-color: #fff;
  color: #3040c4;
}

.fill-button:hover {
  opacity: 0.5;
}

.section {
  padding: 80px 15px;
}

.section-category {
  display: block;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

h1.section-title {
  color: #2b292d;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.058823529411765;
  letter-spacing: -0.03em;
  margin-bottom: 24px;
}
